.project {
  padding: 20px;
  background-color: rgb(12, 14, 18);
  color: rgb(105, 114, 125);
  height: 110px;
  border-radius: 8px;
  border: 1px solid rgb(105, 114, 125);
  width: 350px;
  box-shadow: 0px 0px 10px rgb(115, 115, 115);
  position: relative;
}

.project-up {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 10px;
}


.project-up a, 
.project-up p {
  margin: 0;
  margin-left: 10px
}

.project-up a {
  font-size: 22px;
  font-weight: 200;
  color: rgb(38, 104, 245);
  text-decoration: none;
}

.project-up a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.project-up p {
  border: 1px solid rgb(105, 114, 125);
  border-radius: 30px;
  padding: 2px 10px;
  font-size: 14px;
}

p {
  margin-top: 5px;
  font-size: 14px;
}

.language {
  margin: 0;
  font-size: 14px;
}

.lan-button {
  background-color: rgb(42, 94, 148);
  color: rgb(42, 94, 148);
  font-size: 8px;
  border: 1px solid rgb(30, 94, 148);
  border-radius: 30px;
}

.project-down {
  position: absolute;
  bottom: 15px;

}

@media(max-width:700px) {
  .project {
    width: 70vw;
    height: fit-content;
  }
  p{
    margin-bottom: 24px;
  }
}

