

.projects-main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:100vh;
  height: fit-content;
}

h1 {
  text-align: center;
  color: #69140E;
  margin-bottom: 50px;
  margin-top: -20px;
}

.column-projects {
  position: relative;
}

.centered-container {
  font-family: Arial;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
  width: fit-content;
  max-width: 80vw;
  border-radius: 5px;
  gap:50px;
}

.profile-link {
  position: absolute;
  bottom: -70px;
  right: 0px;
  left: 0px;
  text-align: center;
  cursor: pointer;
  color: #69140E;
  text-decoration: underline;
}

.profile-link:hover {
  opacity: 0.7;
}

.profile-link:active {
  opacity: 0.5;
}

@media ( max-width: 1006px) {
  .centered-container {
    grid-template-columns: 1fr ;
    margin-bottom: 250px;
  }

  .profile-link {
    bottom: 200px;
  }

  h1 {
    margin-top: 20px;
  }

}










