.projects-main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:100vh;
  height: fit-content;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #69140E;
}

.centered-container {
  font-family: Arial;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
  width: fit-content;
  max-width: 80vw;
  border-radius: 5px;
  gap:50px;
}

@media ( max-width: 1006px) {
  .centered-container {
    grid-template-columns: 1fr ;
    margin-bottom: 150px;
  }
}








