<div class="projects-main">
    <div class="centered-container">


        <project-github [projectName]="'EquiScore'" [projectLink]="'https://github.com/guillerubio/EquiScore'" [projectDescription]="'EquiScore is a deep learning model capable of accurately assesing the body condition of a horse.'" [projectLanguage]="'CSS'"></project-github>
        <project-github [projectName]="'EquiScore'" [projectLink]="'https://github.com/guillerubio/EquiScore'" [projectDescription]="'EquiScore is a deep learning model capable of accurately assesing the body condition of a horse.'" [projectLanguage]="'CSS'"></project-github>
        <project-github [projectName]="'EquiScore'" [projectLink]="'https://github.com/guillerubio/EquiScore'" [projectDescription]="'EquiScore is a deep learning model capable of accurately assesing the body condition of a horse.'" [projectLanguage]="'CSS'"></project-github>

        <project-github [projectName]="'EquiScore'" [projectLink]="'https://github.com/guillerubio/EquiScore'" [projectDescription]="'EquiScore is a deep learning model capable of accurately assesing the body condition of a horse.'" [projectLanguage]="'CSS'"></project-github>
        <project-github [projectName]="'EquiScore'" [projectLink]="'https://github.com/guillerubio/EquiScore'" [projectDescription]="'EquiScore is a deep learning model capable of accurately assesing the body condition of a horse.'" [projectLanguage]="'CSS'"></project-github>
        <project-github [projectName]="'EquiScore'" [projectLink]="'https://github.com/guillerubio/EquiScore'" [projectDescription]="'EquiScore is a deep learning model capable of accurately assesing the body condition of a horse.'" [projectLanguage]="'CSS'"></project-github>
      
      

        


    </div>

    
</div>
