img {
  width: 40vw;
  height: 40vw;
  object-fit: cover;
  border-radius: 50vw;
  border: 5px solid #a41e00;
  max-width: 350px;
  max-height: 350px;
  
}

.first-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;

  
}

.heart, strong {
  color: #a41e00;
  font-size: calc(17px + 1.1vw);;
}

.container-title {
  padding: 30px;
  border-radius: 15px

}

h1 {
  font-size:calc(30px + 4vw);
  margin: 0;
  font-weight: 800;
}

h2 {
  font-size: calc(17px + 1vw);
  margin: 0;
  font-weight: 100;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
 
}

button {
  font-size: calc(15px + 1vw);
  padding: 10px 20px;
  border: 1px solid black;
  background-color: white;
  transition: font-size 0.2s, background-color 0.2s, color 0.2s;
  margin: 0px 10px;
  cursor: pointer;
}
#featured-in {
  min-width: 150px;
}

button:hover {
  font-size: calc(15px + 2vw);;
  background-color: #a41e00;
  color: white;
}

button:active {
  opacity: 0.5;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: black;
  font-weight: 600;
  position: absolute;
  bottom: 30px;
  right: 0px;
  left: 0px;

}

ng-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;

  color: black;
  border-radius: 30px;

  
  margin: 0px 20px;
  transition: background-color 0.2s, color 0.1s;
  cursor: pointer;
}

ng-icon:hover {
  color: #a41e00;

}

ng-icon:active {
  color: #a41e00;
  opacity: 0.5;

}




