<div class="experience-main">

  <div class="container">
    <div class="periodo">
      <div class="periodo-container">
        <div class="titulo">
          <img src="../../assets/images/University_of_California,_Irvine_seal.svg.png">
          <div class="text-title">
            <h1>University of California, Irvine</h1>
            <h2>2023-2024</h2>
          </div>
        </div>
         
        <p>Student selected to be part of the University of California Education Abroad Program. 
          Recipient of the <strong> Santander Bank scholarship</strong> for non-European study abroad programs, given to the 
          highest GPA students to receive a position in a foreign university for the 23/24 school year.</p>
        
      </div>
    </div>

    <div class="periodo">
      <div class="periodo-container">
        <div class="titulo">
          <img src="../../assets/images/Logo-artgo-peque.png">
          <div class="text-title">
            <h1>Artgonuts Software Engineer Intern</h1>
            <h2>Summer 2023</h2>
          </div>
        </div>
         
        <p>Conducted a Software Engineering Internship with a primary focus on <strong>Full-Stack development</strong>, specializing in front-end technologies. 
          Successfully <strong>designed and built the Artgonuts landing page</strong> using <strong>Angular, TypeScript, HTML, and CSS</strong>. Assisted in 
          <strong>SQL</strong> database creation and leveraged <strong>Java and Spring</strong> for efficient data retrieval and storage. </p>
        
      </div>
    </div>

    <div class="periodo">
      <div class="periodo-container">
        <div class="titulo">
          <img src="../../assets/images/CulverAcademies-SEAL-transparent.png.avif">
          <div class="text-title">
            <h1>Culver Assistant Counselor - Tactical Officer</h1>
            <h2>Summers 2021 & 2022</h2>
            
          </div>
          
        </div>
        <p>Primary cadet developer and legal commander of a 40-cadet company, overseeing their security, needs, and mentoring while maximizing the Culver experience. Instructed over 100 midshipmen in sailing, specifically handling the CMA RH Ledbetter, a 54-foot square rigger built in 1984.</p>
         
        
      </div>
    </div>

    <div class="periodo">
      <div class="periodo-container">
        <div class="titulo">
          <img src="../../assets/images/Logo_UC3M.svg.png">
          <div class="text-title">
            <h1>Universidad Carlos III de Madrid</h1>
            <h2>2020-2026</h2>
            
          </div>
        </div>
        <p>Pursuing a Dual Bachelor's in Computer Science & Engineering and Business Administration. 
          Actively engaged in extracurricular activities such as Start UC3M seminars, T3chFest, 
          and Hackathons.
        </p>
         
        <p>
        </p>
        
      </div>
    </div>

  </div>
</div>