<div class="astrophoto">
  <div class="post">
    <img src="assets/astro/IMG_2167.jpeg">
    <h3>The Moon over Rozas de Puerto Real, Madrid on July 27 2023.</h3>
  </div>
  <div class="post">
    <img src="assets/astro/IMG_2198.jpeg">
    <h3>Saturn over Rozas de Puerto Real, Madrid on July 27 2023.</h3>
  </div>
  <div class="post">
    <img src="assets/astro/IMG_9180.jpeg">
    <h3>Jupiter and 4 of it's moons over Galende, Zamora on August 5 2023.</h3>
  </div>
  <div class="post">
    <img src="assets/astro/BE38EC64-C512-4CC8-9461-7F92B5912D06_1_105_c.jpeg">
    <h3>One of the Milky Way's arms over Llanes, Asturias on August 11 2023.</h3>
  </div>
  
  
  
</div>
