<div class="featured">
  <div class="centered">
    <h1>Featured Articles, Publications & Events</h1>
    <div class="article">
      <h3>May 2023</h3>
      <a href="https://www.equisens.es/alimentacion-del-caballo/el-chat-gpt-te-dira-si-tu-caballo-necesita-perder-peso/"><h2>El chat GPT te dirá si tu caballo necesita perder peso</h2></a>
      <p>Equisens</p>
    </div>
    <div class="event">
      <h3>Mar 2023</h3>
      <a href="https://www.youtube.com/watch?v=u_ybO8QOK3E"><h2>Hackaton Arte e Impacto Social</h2></a>
      <p>Fundación Banco Sabadell</p>

    </div>
  </div>
</div>
