<div class="first-title">
  <div class="container-title">
    <img src="../../assets/guille-formal.jpg">
  <h1>William Rubio</h1>
  <h2>I love developing <strong>Full-Stack</strong> and building <strong>AI</strong>.</h2>
  <div class="buttons">
    <a href="#experience">
      <button>Experience</button>
    </a>
    <a href="#projects">
      <button>Projects</button>
    </a>
    <a href="#featured-in">
      <button>Featured in</button>
    </a>
    <a href="#misc">
      <button>Misc</button>
    </a>
    
    
    

  </div>
  </div>
  
</div>
