<div class="first-title">
  <div class="container-title">
    <img src="../../assets/guille-informal.png">
    <h1>William Rubio</h1>
    <h2>I love developing <strong>Full-Stack</strong> and building <strong>AI</strong>.</h2>
    
    <div class="buttons">
      <a href="#experience">
        <button>Experience</button>
      </a>
      <a href="#projects">
        <button>Projects</button>
      </a>
      <a href="#featured-in">
        <button>Featured in</button>
      </a>
      <a href="#misc">
        <button>Misc</button>
      </a>
    </div>
    <div class="icons">
      <a><ng-icon size="42px" name="ionMailOpen"></ng-icon></a>
      <a><ng-icon size="35px" name="bootstrapLinkedin"></ng-icon></a>
      <a><ng-icon size="35px" name="bootstrapGithub"></ng-icon></a>
    </div>
    
    
  </div>
  
</div>
