body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: rgb(176, 176, 176);
  }
  
  .container {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	margin-top: 50%;
  }
  
  .container .name {
	font-size: rem;
	text-align: left;
	margin-top: 0%;
	margin-bottom: 0px;
  }
  
  .container .name-big {
	font-size: 600%;
	font-weight: bold;
	text-align: left;
	margin-top: 0%;
	margin-bottom: 0px;
  }
  
  .container .profession {
	font-size: 3rem;
	text-align: left;
	margin-top: 0%;
	margin-bottom: 0px;
	font-weight: bold;
  }
  
  .underline {
	position: relative;
	display: inline-block;
  }
  
  .svg-underline {
	position: absolute;
	bottom: -5px;
	left: 0;
  }
  
  
  