body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: rgb(176, 176, 176);
  }

  .top-bar {
	position:absolute;
	top: 10px;
	right: 40px;

  }

  a{
	text-decoration:none;
	}
  
  button {
	font-family: 'Times New Roman', Times, serif;
	font-size: 110%;
	background-color: rgb(176, 176, 176);
	color: rgb(0, 0, 0);
	padding: 10px 5px;
	border: none;
	border-radius: 0;
	margin-left: 10px;
	margin-top: 10px;
	outline: none;
  }

  button:focus {
	outline: none !important;
  }
  
  .container {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: absolute;
  	top: 120vh;
  	left: 50%;
 	transform: translate(-50%, -50%);
  	
  }

  h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 500%;
  }
  
  .container .name {
	font-size: 150%;
	text-align: left;
	margin-top: 0%;
	margin-bottom: 0px;
  }
  
  .container .name-big {
	font-size: 700%;
	font-weight: bold;
	text-align: left;
	margin-top: 0%;
	margin-bottom: 0px;
  }
  
  .container .profession {
	font-size: 240%;
	text-align: left;
	margin-top: 0%;
	margin-bottom: 0px;
	font-weight: bold;
  }
  
  /* Animation Engineer*/
  .animated-underline {
	position: relative;
	display: inline-block;
  }
  
  .animated-underline::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 5px;
	bottom: 0;
	left: 0;
	background-color: #d90000; /* Change this to whatever color you prefer */
	transform: scaleX(0);
	transform-origin: left;
	animation: underline-anim 2.5s ease forwards;
  }
  
  /* Define the keyframe animation for the underline */
  @keyframes underline-anim {
	from {
	  transform: scaleX(0);
	}
	to {
	  transform: scaleX(1);
	}
  }
  
  /* Personal paragraph */
  p{
	font-size: 1.2rem;
	font-family: 'Times New Roman', Times, serif;
	margin-top: 40px;
	margin-bottom: 30px;
	margin-left: 16%;
	margin-right: 16%;
  }

  .highlight {
    background-color: rgba(131, 131, 131, 0.391);
}

/* Resume Section*/
.resume-section{
font-family: Arial, Helvetica, sans-serif;
margin-top: 30vh;
text-align: center;
margin-bottom: 18vh;
}

.resume-section h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 8rem;

}

.resume-section h2 {
	margin-top: 0px;
	font-size: 6rem;	
}

.buttons-container {
	margin-top: 0px;
	display: flex;
	justify-content: center;
  }
  
.buttons-container button {
	margin-top: 0px;
	font-family:sans-serif;
	font-size: large;
	background-color: black;
	color: rgb(176, 176, 176);
	border: none;
	padding: 10px 20px;
	margin-right: 10px;
	width: 18rem;
	height: 4rem;
	font-weight: 100;
}

.buttons-container button:hover{
	background-color: rgb(72, 72, 72);
}

/* Projects Section */

.projects-section{
	margin-bottom: 1px;
	width: 100%;
}

.projects-section p {
	display: flex;
	justify-content: center;
	margin-top: 13vh;
}

.projects-section p {
	margin-bottom: 10px;
	margin-top: 5vh;
}

div.scrolling-limit{
	width: 100%;
	margin-top: 6vh;
	overflow:hidden;
	white-space:nowrap;
	margin-bottom: 6vh;
	position: relative;
	
  }
  
  div.scrolling{
	font-size: 900%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	-webkit-animation: scroll 100s infinite linear;;
	-moz-animation: scroll 100s infinite linear;
	-o-animation: scroll 100s infinite linear;
	animation: scroll 20s infinite linear;
  }
  
  @keyframes scroll{
	  0%   {left: -1000px;}
	  100% {left: -2500px;}
  }

  /* In Touch Section*/
  .in-touch{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to bottom, rgb(176, 176, 176), #ffffff);
	margin-top: 240vh;
	width: 100%;
	
  }

  .in-touch h1 {
	font-size: 100px;
	margin-top: 0px;
  }

  .in-touch p {
	margin-right: 70%;
	margin-bottom: 0px;
  }

  .buttons-container-contact{
	position: relative;
	font-size: larger;
	margin: 0;
	margin-bottom: 5vh;
  }

  .in-touch button {
	font-size: 150%;
	background: none
  }

  /*Contact buttons animation*/

  .in-touch a {
	position: relative;
	text-decoration: none;
	color: #000;
  }
  
  .in-touch a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 100%;
	height: 2px;
	background-color: #000;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s ease-in-out;
  }
  
  .in-touch a:hover::after {
	transform: scaleX(1);
  }

  /*------------------ CV ------------------*/

  .this-is-me-container {
	background-color: #ffffff;
	width: 90%;
	margin-top: 10vh;
	display: flex;
	flex-wrap: wrap;
	height: 50vh;

  }

  .this-is-me-container .col1 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex: 0 0 33.33%; /* set width to 1/3 of parent */
	background-color: #2e21ef;
	padding: 2%;
  }

  .this-is-me-container img {
	max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: auto;
  }

  .this-is-me-container .col2 {
	align-items: center;
	justify-content: center;
	height: 100%;
	flex: 2;
	background-color: #ffffff;
	padding: 2%;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }





  
  
  
