body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: rgb(176, 176, 176);
  }
  
  .container {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 270px;
  }
  
  .container .name {
	font-size: rem;
	text-align: left;
	margin-top: 0%;
	margin-bottom: 0px;
  }
  
  .container .name-big {
	font-size: 600%;
	font-weight: bold;
	text-align: left;
	margin-top: 0%;
	margin-bottom: 0px;
  }
  
  .container .profession {
	font-size: 3rem;
	text-align: left;
	margin-top: 0%;
	margin-bottom: 0px;
	font-weight: bold;
  }
  
  /* Animation Engineer*/
  .animated-underline {
	position: relative;
	display: inline-block;
  }
  
  .animated-underline::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 5px;
	bottom: 0;
	left: 0;
	background-color: #d90000; /* Change this to whatever color you prefer */
	transform: scaleX(0);
	transform-origin: left;
	animation: underline-anim 2.5s ease forwards;
  }
  
  /* Define the keyframe animation for the underline */
  @keyframes underline-anim {
	from {
	  transform: scaleX(0);
	}
	to {
	  transform: scaleX(1);
	}
  }
  
  /* Personal paragraph */
  .personal-paragraph {
	font-size: 1.2rem;
	font-family: 'Times New Roman', Times, serif;
	margin-top: 40px;
	margin-bottom: 30px;
	margin-left: 16%;
	margin-right: 16%;
  }

  .highlight {
    background-color: rgba(131, 131, 131, 0.391);
}
  


  