body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-color: white;
  width: 100vw;
  height: fit-content;
}

html {
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  scroll-behavior: smooth;
  width: 100vw;
  height: fit-content;
}

/* 
#3C1518
#69140E
#A44200
#FFFFFF
#D58936
 */